.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

body {
  margin: 0;
  padding: 0px;
}